#PreferencesModal {
  padding: 16px;
  width: 512px;
  max-width: 80%;
  min-height: 96px;
  outline: none !important;

  hr {
    margin: 16px 0;
  }
}

.PreferencesModal-Title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.PreferencesModal-Title:first-child {
  margin-top: 0;
}
