#left-editor-panel, #middle-panel, #right-editor-panel {
  box-sizing: border-box;
  margin: 8px;
}

.panel-box {
  margin-top: 8px;
}

#middle-panel {
  display: flex;
  width: calc(100svh - 16px - 16px - 8px - 12svh - 8px - 16px); // 80svh
  height: calc(100svh - 32px); //96svh
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  #field-panel {
    width: calc(100svh - 16px - 8px - 8px - 16px - 8px - 12svh - 8px - 16px); // 78svh
    height: calc(100svh - 16px - 8px - 8px - 16px - 8px - 12svh - 8px - 16px);
    padding: 8px;
    overflow: hidden;
  }
}

#middle-panel.full-height {
  width: calc(100svh - 32px);

  #field-panel {
    width: calc(100svh - 32px - 32px); // 94svh
    height: calc(100svh - 32px - 32px);
  }
}

#speed-panel {
  width: calc(100svh - 16px - 8px - 8px - 16px - 8px - 12svh - 8px - 16px);
  height: 12svh;
  padding: 8px;
  overflow: hidden;
  margin-top: 16px;
}

#right-editor-panel {
  float: left;
  flex-grow: 1;
  min-width: 352px;
  max-width: 352px;
  margin: calc(8px - 4px);
  margin-bottom: 0;
  border-top: 4px solid var(--bg-body-color);
  border-bottom: 4px solid var(--bg-body-color);
  // font-size: 1.5svh;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100svh - 16px - 8px); // 97svh
}

#left-editor-panel {
  float: left;
  flex-grow: 1;
  min-width: 288px;
  max-width: 288px;
  margin: calc(8px - 4px) !important;
  padding-top: 4px;
  // font-size: 1.5svh;
  overflow-x: hidden;
  height: calc(100svh - 16px - 8px);
  border-radius: 4px;
}

#left-editor-panel::-webkit-scrollbar,
#right-editor-panel::-webkit-scrollbar {
  width: 0;
}

#left-editor-panel > *,
#right-editor-panel > * {
  margin: 0 4px !important;
}

#left-editor-panel h3,
#right-editor-panel h3 {
  margin: 0;
  font-weight: 100;
}

#left-editor-panel > *::before,
#right-editor-panel > *::before {
  background-color: transparent !important;
}

#path-tree {
  height: calc(100svh - 16px - 8px - (10px + 13px) - 8px - 16px - 16px); // 94svh - ...
  position: relative;

  .MuiAccordionSummary-root {
    cursor: unset;
  }

  .MuiAccordionSummary-content {
    justify-content: space-between;

    .icon {
      cursor: pointer;
      padding: 0;
      margin-left: 3.2px;
    }
  }

  .MuiAccordionDetails-root {
    overflow-y: auto;
    position: absolute;
    top: 48px;
    bottom: 1.6px;
    right: 1.6px;
    left: 0;
    scrollbar-gutter: stable;
    padding-right: calc(16px - 6.4px);
  }
}

#control-editor {
  text-align: left;
  margin-bottom: 24px;
  position: sticky;
  top: -4px;
  z-index: 100;
  padding-top: 8px;
}

#main-menu {
  margin-bottom: 16px !important;
  padding: 8px;
  height: calc(10px + 13px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  > * {
    text-transform: none;
    min-width: 32px;
    font-weight: 400;
    padding: 3.2px 6.4px;
    line-height: 1;
  }
}
