$pg: 16px; // panel gap
$hpg: 8px; // half panel gap
$qpg: 4px; // quarter panel gap
$speed-panel-height: 12svh;
$middle-panel-width: calc(100svh - $pg - $pg - $hpg - $speed-panel-height - $hpg - $pg);
$middle-panel-height: calc(100svh - $pg - $pg);
$field-panel-width: calc(100svh - $pg - $hpg - $hpg - $pg - $hpg - $speed-panel-height - $hpg - $pg);
$field-panel-width-full-height: calc(100svh - $pg * 2 - $hpg * 2);

& {
  padding: 8px;
}

#left-editor-panel,
#middle-panel,
#right-editor-panel {
  box-sizing: border-box;
  margin: $hpg;
}

.panel-box {
  margin-top: $hpg;
}

#middle-panel {
  display: flex;
  width: $middle-panel-width;
  height: $middle-panel-height;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  #field-panel {
    width: $field-panel-width;
    height: $field-panel-width;
    padding: $hpg;
    overflow: hidden;
  }
}

#middle-panel.full-height {
  width: $middle-panel-height;

  #field-panel {
    width: $field-panel-width-full-height;
    height: $field-panel-width-full-height;
  }
}

#speed-panel {
  width: $field-panel-width;
  height: $speed-panel-height;
  padding: $hpg;
  overflow: hidden;
  margin-top: $pg;
}

#right-editor-panel {
  float: left;
  flex-grow: 1;
  min-width: 352px;
  max-width: 352px;
  margin: calc($hpg - $qpg);
  margin-bottom: 0;
  border-top: $qpg solid var(--bg-body-color);
  border-bottom: $qpg solid var(--bg-body-color);
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100svh - $pg - $hpg);
}

#left-editor-panel {
  float: left;
  flex-grow: 1;
  min-width: 288px;
  max-width: 288px;
  margin: calc($hpg - $qpg) !important;
  padding-top: $qpg;
  overflow-x: hidden;
  height: calc(100svh - $pg - $hpg);
  border-radius: 4px;
}

#left-editor-panel::-webkit-scrollbar,
#right-editor-panel::-webkit-scrollbar {
  width: 0;
}

#left-editor-panel > *,
#right-editor-panel > * {
  margin: 0 $qpg !important;
}

#left-editor-panel h3,
#right-editor-panel h3 {
  margin: 0;
  font-weight: 100;
}

#left-editor-panel > *::before,
#right-editor-panel > *::before {
  background-color: transparent !important;
}

#path-tree {
  height: calc(100svh - $pg - $hpg - (10px + 13px) - $hpg - $pg - $pg);
  position: relative;

  .MuiAccordionSummary-root {
    cursor: unset;
  }

  .MuiAccordionSummary-content {
    justify-content: space-between;

    .icon {
      cursor: pointer;
      padding: 0;
      margin-left: 3.2px;
    }
  }

  .MuiAccordionDetails-root {
    overflow-y: auto;
    position: absolute;
    top: 48px;
    bottom: 1.6px;
    right: 1.6px;
    left: 0;
    scrollbar-gutter: stable;
    padding-right: calc($pg - 6.4px);
  }
}

#control-editor {
  text-align: left;
  margin-bottom: 24px;
  position: sticky;
  top: -4px;
  z-index: 100;
  padding-top: $hpg;
}

#main-menu {
  margin-bottom: $pg !important;
  padding: $hpg;
  height: calc(10px + 13px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  > * {
    text-transform: none;
    min-width: 32px;
    font-weight: 400;
    padding: 3.2px 6.4px;
    line-height: 1;
  }
}
