.confirmation-dialog.MuiBackdrop-root {
  margin: 0;
  background-color: transparent !important;
  backdrop-filter: blur(12px);
  outline: none !important;

  .confirmation-card {
    padding: 16px;
    min-width: 320px;
    max-width: calc(90svw - 64px);
    min-height: 96px;
    outline: none !important;

    .description-box {
      display: flex;

      > * {
        flex-grow: 1;
        width: 0;
      }
    }

    .input-box {
      width: 100%;

      > * {
        width: 100%;
      }
    }

    .button-box {
      display: flex;
      margin-top: 16px;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1svh;

      *:focus {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
