.help-dialog.MuiBackdrop-root {
  margin: 0;
  background-color: transparent !important;
  backdrop-filter: blur(12px);
  outline: none !important;

  .help-welcome-page {
    padding: 16px;
    width: 768px;
    max-width: 80%;
    min-height: 96px;
    outline: none !important;
    height: 80%;
    overflow-y: auto;

    .logo {
      margin: auto;
      width: 128px;
      display: block;
    }
  }

  .help-about-page {
    padding: 32px;
    width: 512px;
    max-width: 80%;
    min-height: 96px;
    outline: none !important;

    > img {
      margin: auto;
      width: 128px;
      display: block;
    }

    a {
      display: inline-block;
      margin: 0 8px;
    }
  }
}
