.modal-backdrop {
  margin: 0;
  background-color: transparent !important;
  backdrop-filter: blur(12px);
  outline: none !important;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-primary-color);
}

#welcome-modal {
  padding: 16px;
  width: 768px;
  max-width: 80%;
  min-height: 96px;
  outline: none !important;
  height: 80%;
  overflow-y: auto;

  .logo {
    margin: auto;
    width: 128px;
    display: block;
  }
}

#about-modal {
  padding: 32px;
  width: 512px;
  max-width: 80%;
  min-height: 96px;
  outline: none !important;

  > img {
    margin: auto;
    width: 128px;
    display: block;
  }

  a {
    display: inline-block;
    margin: 0 8px;
  }
}

#preferences-modal {
  padding: 16px;
  width: 512px;
  max-width: 80%;
  min-height: 96px;
  outline: none !important;

  hr {
    margin: 16px 0;
  }

  .title {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .title:first-child {
    margin-top: 0;
  }
}

#confirmation-modal {
  padding: 16px;
  min-width: 320px;
  max-width: 80%;
  min-height: 96px;
  outline: none !important;

  .description-box {
    display: flex;

    > * {
      flex-grow: 1;
      width: 0;
    }
  }

  .input-box {
    width: 100%;

    > * {
      width: 100%;
    }
  }

  .button-box {
    display: flex;
    margin-top: 16px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;

    *:focus {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

#asset-manager-modal {
  padding: 16px;
  width: 768px;
  max-width: 80%;
  min-height: 96px;
  outline: none !important;

  #field-image-assets {
    display: flex;
    width: 100%;
    gap: 16px;
    // background-color: red;

    #assets-list-add {
      flex-grow: 1;
      max-width: calc(60% - 16px);

      #assets-list {
        flex-grow: 1;
        min-height: calc(256px - 8px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 8px; // maybe 16px
        position: relative;

        #assets-list-content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          .asset-item {
            .asset-item-delete {
              visibility: hidden;
            }
          }

          .asset-item:hover {
            .asset-item-delete {
              visibility: inherit;
            }
          }
        }
      }
    }

    #asset-preview {
      width: 40%;
      min-width: 256px;

      #asset-image-preview {
        width: 100%;
        line-height: 0;
        border: 1px solid var(--text-primary-color);
        position: relative;

        > #failed-message {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 16px;
          text-align: center;
          display: flex;
          align-content: center;
          flex-wrap: wrap;
          user-select: none;
          pointer-events: none;
        }

        > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          user-select: none;
          cursor: pointer;
        }

        > #reload-button {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          display: flex;
          align-content: center;
          flex-wrap: wrap;
          background-color: rgba(255, 255, 255, 0.2);
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
          user-select: none;
          cursor: pointer;

          > * {
            width: 100%;
          }

          &:hover {
            opacity: 1;

            & + #failed-message {
              display: none;
            }
          }
        }
      }
    }
  }
}
