.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1vh;
  box-sizing: border-box;
}

.App > * {
  box-sizing: border-box;
  margin: 1vh;
}

.middle-container {
  display: flex;
  width: 80vh;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.field-container {
  width: 78vh;
  height: 78vh;
  padding: 1vh;
  overflow: hidden;
}

.graph-container {
  width: 78vh;
  height: 12vh;
  padding: 1vh;
  overflow: hidden;
  margin-top: 2vh;
}

.right-editor-container {
  float: left;
  flex-grow: 1;
  min-width: 22rem;
  max-width: 22rem;
  margin: calc(1vh - 4px);
  padding-top: 4px;
  font-size: 1.5vh;
  overflow-y: scroll;
}

.left-editor-container {
  float: left;
  flex-grow: 1;
  min-width: 18rem;
  max-width: 18rem;
  margin: 1vh !important;
  padding-top: 4px;
  font-size: 1.5vh;
  overflow-y: scroll !important;
}

.left-editor-container::-webkit-scrollbar,
.right-editor-container::-webkit-scrollbar {
  width: 0;
}

.left-editor-container > *,
.right-editor-container > * {
  margin: 0 4px !important;
}

.left-editor-container h3,
.right-editor-container h3 {
  margin: 0;
  font-weight: 100;
}

.left-editor-container > *::before,
.right-editor-container > *::before {
  background-color: transparent !important;
}

.flex-editor-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
}

.path-editor {
  text-align: left;
  margin-bottom: 3vh;
  position: sticky;
  top: -0.5vh;
  background-color: white;
  z-index: 100;
  padding-top: 1vh;
}

.tree-node-label:hover > .tree-node-func-icon {
  visibility: visible;
}

.tree-node-label {
  padding-right: 0.4em;
}

.panel-box {
  margin-top: 1vh;
}

.tree-node-func-icon {
  height: calc(1em * 0.7) !important;
  vertical-align: middle;
  float: right;
  margin-top: calc(1em * 0.15);
  visibility: hidden;
}

.tree-node-func-icon.show {
  visibility: visible;
}
