.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1vh;
  box-sizing: border-box;
}

.App > * {
  box-sizing: border-box;
  margin: 1vh;
}

.padding-box {
  padding-bottom: 1px;
}

.middle-container {
  display: flex;
  width: 80vh;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.field-container {
  width: 78vh;
  height: 78vh;
  padding: 1vh;
  overflow: hidden;
}

.graph-container {
  width: 78vh;
  height: 12vh;
  padding: 1vh;
  overflow: hidden;
  margin-top: 2vh;
}

.right-editor-container {
  float: left;
  flex-grow: 1;
  min-width: 22rem;
  max-width: 22rem;
  margin: calc(1vh - 4px);
  margin-bottom: 0;
  border-top: 4px solid var(--main-bg-color);
  border-bottom: 4px solid var(--main-bg-color);
  font-size: 1.5vh;
  overflow-y: scroll;
  height: calc(97vh);
}

.left-editor-container {
  float: left;
  flex-grow: 1;
  min-width: 18rem;
  max-width: 18rem;
  margin: calc(1vh - 4px) !important;
  padding-top: 4px;
  font-size: 1.5vh;
  /* overflow-y: scroll !important; */
  height: calc(97vh);
  border-radius: 4px;
}

.left-editor-container::-webkit-scrollbar,
.right-editor-container::-webkit-scrollbar {
  width: 0;
}

.left-editor-container > *,
.right-editor-container > * {
  margin: 0 4px !important;
}

.left-editor-container h3,
.right-editor-container h3 {
  margin: 0;
  font-weight: 100;
}

.left-editor-container > *::before,
.right-editor-container > *::before {
  background-color: transparent !important;
}

.flex-editor-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
}

.path-editor {
  text-align: left;
  margin-bottom: 3vh;
  position: sticky;
  top: -0.5vh;
  /* background-color: white; */
  z-index: 100;
  padding-top: 1vh;
}

.tree-node-label:hover > .tree-node-func-icon {
  visibility: visible;
}

.tree-node-label {
  padding-right: 0.4em;
}

#main-menu {
  margin-bottom: 2vh !important;
  padding: 1vh;
  height: calc(10px + 0.8125rem);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

#main-menu > * {
  text-transform: none;
  min-width: 32px;
  font-weight: 400;
  padding: 0.2rem 0.4rem;
  line-height: 1;
}

#path-tree {
  height: calc(92vh - (10px + 0.8125rem));
  position: relative;
}

#path-tree .MuiAccordionSummary-root {
  cursor: unset;
}

#path-tree .MuiAccordionSummary-content {
  justify-content: space-between;
}

#path-tree .MuiAccordionSummary-content .icon {
  cursor: pointer;
  padding: 0;
  margin-left: 0.2rem;
}

#path-tree .MuiAccordionDetails-root {
  overflow-y: auto;
  position: absolute;
  top: 48px;
  bottom: 0.1rem;
  right: 0.1rem;
  left: 0;
  scrollbar-gutter: stable;
  padding-right: calc(16px - 0.4rem);
}

.panel-box {
  margin-top: 1vh;
}

.tree-node-func-icon {
  height: calc(1em * 0.7) !important;
  vertical-align: middle;
  float: right;
  margin-top: calc(1em * 0.15);
  visibility: hidden;
}

.tree-node-func-icon.show {
  visibility: visible;
}

.light-theme {
  background-color: #ffffff;
  /* variable */
  --main-bg-color: #ffffff;
}

.dark-theme {
  background-color: #292929;
  /* variable */
  --main-bg-color: #292929;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}
