.light-theme {
  --bg-body-color: #ffffff;
  --bg-default-color: #ffffff;
  --bg-paper-color: #ffffff;
  --text-primary-color: rgba(0, 0, 0, 0.87);
  --link-color: rgba(0, 0, 0, 0.87);
  background-color: var(--bg-body-color);

  code {
    background-color: #e3e3e3;
  }

  td,
  th {
    border: 1px solid #e3e3e3;
  }

  th {
    background-color: #f6f6f6;
  }
}

.dark-theme {
  --bg-body-color: #292929;
  --bg-default-color: #1e1e1e;
  --bg-paper-color: #353535;
  --text-primary-color: #FFF;
  --link-color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-body-color);

  code {
    background-color: var(--bg-default-color);
  }

  td,
  th {
    border: 1px solid #444444;
  }

  th {
    background-color: #3c3c3c;
  }
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0 !important;
}

a {
  color: var(--link-color) !important;
  text-decoration: underline !important;
}

code {
  display: inline-block;
  padding: 0rem 0.4rem;
  border-radius: 0.2rem;
  font-family: "Roboto Mono", monospace !important;
  font-size: 0.9rem !important;
}

blockquote {
  background-color: var(--bg-paper-color);
  border-left: 0.2rem solid var(--bg-default-color);
  padding: 0.2rem 0.4rem;
  margin: 0.2rem 0;
  font-style: italic;
}

img.markdown-style {
  max-width: 100%;
}

ol.markdown-style,
ul.markdown-style {
  -webkit-padding-start: calc(1em + 1ex);
  padding-inline-start: calc(1em + 1ex);

  li {
    word-wrap: break-all;
    margin-block: calc(0.25em + 0.25ex);
  }

  li:has(> input:first-child) {
    // Hide dot in checkbox
    list-style-type: none;
    position: relative;

    input {
      position: absolute;
      left: -1.75em;
      top: 0.25em;
    }
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding-block: 0.6ex;
  padding-inline: 1ex;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1vh;
  box-sizing: border-box;

  > * {
    box-sizing: border-box;
    margin: 1vh;
  }
}

.panel-box {
  margin-top: 1vh;
}

#middle-panel {
  display: flex;
  width: 80vh;
  height: 96vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  #field-panel {
    width: 78vh;
    height: 78vh;
    padding: 1vh;
    overflow: hidden;
  }
}

#middle-panel.full-height {
  width: 96vh;

  #field-panel {
    width: 94vh;
    height: 94vh;
  }
}

#graph-panel {
  width: 78vh;
  height: 12vh;
  padding: 1vh;
  overflow: hidden;
  margin-top: 2vh;
}

#right-editor-panel {
  float: left;
  flex-grow: 1;
  min-width: 22rem;
  max-width: 22rem;
  margin: calc(1vh - 4px);
  margin-bottom: 0;
  border-top: 4px solid var(--bg-body-color);
  border-bottom: 4px solid var(--bg-body-color);
  font-size: 1.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(97vh);
}

#left-editor-panel {
  float: left;
  flex-grow: 1;
  min-width: 18rem;
  max-width: 18rem;
  margin: calc(1vh - 4px) !important;
  padding-top: 4px;
  font-size: 1.5vh;
  overflow-x: hidden;
  height: calc(97vh);
  border-radius: 4px;
}

#left-editor-panel::-webkit-scrollbar,
#right-editor-panel::-webkit-scrollbar {
  width: 0;
}

#left-editor-panel > *,
#right-editor-panel > * {
  margin: 0 4px !important;
}

#left-editor-panel h3,
#right-editor-panel h3 {
  margin: 0;
  font-weight: 100;
}

#left-editor-panel > *::before,
#right-editor-panel > *::before {
  background-color: transparent !important;
}

.flex-editor-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
}

#control-editor {
  text-align: left;
  margin-bottom: 3vh;
  position: sticky;
  top: -0.5vh;
  z-index: 100;
  padding-top: 1vh;
}

#main-menu {
  margin-bottom: 2vh !important;
  padding: 1vh;
  height: calc(10px + 0.8125rem);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  > * {
    text-transform: none;
    min-width: 32px;
    font-weight: 400;
    padding: 0.2rem 0.4rem;
    line-height: 1;
  }
}

#path-tree {
  height: calc(92vh - (10px + 0.8125rem));
  position: relative;

  .MuiAccordionSummary-root {
    cursor: unset;
  }

  .MuiAccordionSummary-content {
    justify-content: space-between;

    .icon {
      cursor: pointer;
      padding: 0;
      margin-left: 0.2rem;
    }
  }

  .MuiAccordionDetails-root {
    overflow-y: auto;
    position: absolute;
    top: 48px;
    bottom: 0.1rem;
    right: 0.1rem;
    left: 0;
    scrollbar-gutter: stable;
    padding-right: calc(16px - 0.4rem);
  }

  .tree-node-label:hover > .tree-node-func-icon {
    visibility: visible;
  }

  .tree-node-label {
    padding-right: 0.4em;
  }

  .tree-node-func-icon {
    height: calc(1em * 0.7) !important;
    vertical-align: middle;
    float: right;
    margin-top: calc(1em * 0.15);
    visibility: hidden;
  }

  .tree-node-func-icon.show {
    visibility: visible;
  }
}

.menu-item.MuiMenuItem-root {
  padding-left: 4px !important;

  svg {
    height: 1rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
  }
}

.menu-item.MuiMenuItem-root.Mui-disabled {
  pointer-events: auto !important;
}

.menu-item.MuiMenuItem-root.Mui-disabled:hover {
  // UX: don't change background color on hover
  background-color: transparent !important;
}

.menu-item.MuiMenuItem-root.Mui-disabled:active {
  // https://moshfeu.github.io/show-tooltip-on-pointer-events-none-element/

  pointer-events: none !important;
}

// For menu list
.MuiPaper-root {
  transition: none !important;
}

// For accordion
.MuiPaper-root {
  background-image: none !important; // remove tiny dot pattern in accordion
}

.notistack-SnackbarContainer {
  // cspell:disable-line
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.confirmation-dialog.MuiBackdrop-root {
  margin: 0;
  background-color: transparent !important;
  backdrop-filter: blur(12px);
  outline: none !important;

  .confirmation-card {
    padding: 1rem;
    min-width: 20rem;
    max-width: calc(90vw - 4rem);
    min-height: 6rem;
    outline: none !important;

    .description-box {
      display: flex;

      > * {
        flex-grow: 1;
        width: 0;
      }
    }

    .input-box {
      width: 100%;

      > * {
        width: 100%;
      }
    }

    .button-box {
      display: flex;
      margin-top: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1vh;

      *:focus {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.help-dialog.MuiBackdrop-root {
  margin: 0;
  background-color: transparent !important;
  backdrop-filter: blur(12px);
  outline: none !important;

  .help-welcome-page {
    padding: 1rem;
    width: 48rem;
    max-width: calc(90vw - 4rem);
    min-height: 6rem;
    outline: none !important;
    height: 80vh;
    overflow-y: auto;

    .logo {
      margin: auto;
      width: 8rem;
      display: block;
    }
  }

  .help-about-page {
    padding: 2rem;
    width: 32rem;
    max-width: calc(90vw - 4rem);
    min-height: 6rem;
    outline: none !important;

    > img {
      margin: auto;
      width: 8rem;
      display: block;
    }

    a {
      display: inline-block;
      margin: 0 0.5rem;
    }
  }
}

.preferences-dialog.MuiBackdrop-root {
  margin: 0;
  background-color: transparent !important;
  backdrop-filter: blur(12px);
  outline: none !important;

  .preferences-card {
    padding: 1rem;
    width: 32rem;
    max-width: calc(90vw - 4rem);
    min-height: 6rem;
    outline: none !important;

    hr {
      margin: 2vh 0;
    }

    .title {
      margin-top: 2vh;
      margin-bottom: 2vh;
    }

    .title:first-child {
      margin-top: 0;
    }
  }
}

.drag-drop-backdrop.MuiBackdrop-root {
  margin: 0;
  background-color: transparent !important;
  backdrop-filter: blur(12px);
  outline: none !important;
}
