.App {
  display:flex;
  width: 100vw;
  height: 100vh;
  padding: 1vh;
  box-sizing: border-box;
}

.App > * {
  box-sizing: border-box;
  margin: 1vh;
}

.field-container {
  width: 96vh;
  height: 96vh;
  padding: 1vh;
  overflow: hidden;
}

.editor-container {
  /* background-color: #EEE; */
  float: left;
  flex-grow: 1;
  max-width: 25vw;
  margin: calc(1vh - 4px);
  padding-top: 4px;
  font-family: Consolas;
  font-size: 1.5vh;
  overflow-y: scroll;
}

.editor-container::-webkit-scrollbar {
  width: 0;
}

.editor-container > * {
  margin: 0 4px !important;
}

.editor-container h3 {
  margin: 0;
  font-weight: 100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
